<app-login></app-login>
<md-card class="example-card">
    <md-card-content>
        <md-input-container class="full-width"><input mdInput placeholder="Title"></md-input-container>
        <md-input-container class="full-width"><input mdInput placeholder="Subtitle"></md-input-container>
        <md-input-container class="full-width">            
            <textarea mdInput placeholder="Details" rows="10"></textarea>
        </md-input-container>
    </md-card-content>
    <md-card-actions>
        <button class="card-action" md-mini-fab><md-icon>done</md-icon></button>
    </md-card-actions>
</md-card>
<md-card class="example-card" *ngFor="let item of things.user.things | async">
    <md-card-header>
        <!--<div md-card-avatar class="example-header-image"></div>-->
        <md-card-title>{{ item.title }}</md-card-title>
        <md-card-subtitle>{{ item.subtitle }}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <p>{{ item.body }}</p>
    </md-card-content>
    <md-card-actions>
        <button class="card-action" md-mini-fab><md-icon>clear</md-icon></button>
    </md-card-actions>
</md-card>