.sidenav-container {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 9999;
  background: none;
}

.sidenav-container md-sidenav {
  display: block;
  overflow: visible;
  min-width: 60px;
  background: none;
  z-index: 99999;
  position: fixed;
}

.example-card {
  width: 90%;
  max-width: 500px;
  margin: 10px auto;
  margin-bottom: 50px;
}

.card-action {
  position: absolute;
  right: 10px;
  bottom: -20px;
}

app-login {
  display: flex;
  width: 100%;
}

md-dialog-container, .mat-dialog-container {
  background: none !important;
}

.addnew-fab {
    position: fixed;
    bottom: 90px;
    left: 20px;
    z-index: 99999;
}

.undo-fab {
    position: fixed;
    bottom: 160px;
    left: 20px;
    z-index: 99999;
}