.thing-card {
  width: 90%;
  max-width: 500px;
  margin: 10px auto;
  margin-bottom: 50px;
}

.card-action-container {
  position: absolute;
  right: 10px;
  bottom: -20px;
  text-align: right;
}

.card-action {
  margin-left: 4px;
}

.full-width {
  width: 100%;
}