<md-card class="thing-card">
    <md-card-header>
        <!--<div md-card-avatar class="example-header-image"></div>-->
        <md-card-title>{{ thing.title }}</md-card-title>
        <md-card-subtitle>{{ thing.subtitle }}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <p>{{ thing.body }}</p>
    </md-card-content>
    <md-card-actions>
        <button class="card-action" md-mini-fab (click)="deleteThing()"><md-icon>clear</md-icon></button>
    </md-card-actions>
</md-card>
