<md-card class="thing-card">
    <md-card-content>
        <md-card-title>{{ thing.title }}</md-card-title>
        <md-card-subtitle>{{ thing.subtitle }}</md-card-subtitle>
        <p>{{ thing.body }}</p>
    </md-card-content>
    <md-card-actions>
        <div class="card-action-container">
            <button class="card-action" md-mini-fab (click)="editThing()"><md-icon>description</md-icon></button>
            <button class="card-action" md-mini-fab (click)="deleteThing()"><md-icon>clear</md-icon></button>
        </div>
    </md-card-actions>
</md-card>
